@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
   background-color: #282828!important; 
   text-align: center;
   color: white
   
}
body{
    font-family: 'Arial', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #282828;
}
.hero-title{
    font-family: 'Pacifico';
    
}


#des{
    margin-bottom: 0%;
}

#imie{
    font-size: 30px;
    text-align: center;
}

#arrow_down{
    outline: none;
}

/*recent work section*/
.recent-work {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Wyśrodkowanie tekstu */
}

.recent-work h2 {
    margin-bottom: 20px; /* Dodatkowy odstęp pod tytułem */
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-item {
    text-align: center; /* Wyśrodkowanie obrazka i napisu */
}

.image-item img {
    max-width: 90%;
}

.image-item p {
    margin-top: 20px; /* Dodatkowy odstęp między obrazkiem a napisem */
}
.image-item p a:hover {
    color: rgba(0, 255, 247, 0.692);
    text-decoration: none;
}



/*navbar*/

#navbar {
    position: sticky;
    top: 0;
    z-index: 3;
    /*margin-top: 1% auto;
    margin-bottom: 1%;
    padding: 0;*/
    padding: 0!important;
    
}


#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Ustawienie elementów na poziomie */
   /* justify-content: center; /* Wyrównanie do środka */
}

#navbar ul li {
    margin-right: 2%; /* Odstęp między pozycjami menu */
}

/*#navbar ul li:last-child {
    margin-right: 0; /* Usunięcie odstępu z ostatniej pozycji 
}
*/

#navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#navbar ul li a:hover {
    color: rgba(0, 255, 247, 0.692);
}

 
.nav-link:hover{
    color: rgba(0, 255, 247, 0.692);
}
    
.github-icon {
    width: 24px; 
    height: 24px; 
    
}
.gmail-icon {
    width: 24px; 
    height: 24px; 
    background: none;
    color: none;
    background-color: #282828;
}
.logo-icon{
    width: 58px;
    height: 58px;
    
}




h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 16px;
    margin-bottom:0;
    
}

#portfolio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;


}

ul,
ol{
    list-style-type:none;
    text-align: center;
    padding-left: 0;
    list-style-position: outside; /*position of the list-item markers*/
}

#ol_portfolio{
    font-family: 'Montserrat', sans-serif;
}

table{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
td{
    text-align: left;
}


#cena{
    text-align: right;
}




/*Formularz kontaktowy*/
#contactForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    
}

#contactForm div {
    margin-bottom: 15px;
    display: flex;  
    align-items: left;
    flex-grow:auto;
    
}

#contactForm label {
    width: 2px;
    text-align: left; /* Wyrownanie tekstu do lewej strony */
    align-items: left;
}


#zalacznik {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#contactForm form input[type="text"],
#contactForm form input[type="tel"],
#contactForm form input[type="email"],
#contactForm form textarea,
#contactForm form button {
    flex: 1;
}


footer p {
    text-align: left;
}



/*arrow button */



/*buttons*/
